<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Cars</title>
</head>
<body>

<table border="1" cellpadding="3" cellspacing="5">
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getMark()}"></td>
    </tr>
</table>
<br/>
<br/>
<br/>
<form th:action="@{/addCar}" th:object="${newCar}" method="post">
    <p>Model: <input type="text" th:field="*{model}"></p>
    <p>Mark: <input type="text" th:field="*{mark}"></p>
    <p><input type="submit" value="Add new car"></p>
</form>
</body>
</html>